

$primary: #E5E5E5;
$secondary: #4b4b4b;
$blue-litle : #EFF4F9;
$sm: 900px;
$ls:1440px;
$xs:1920px;
:root{ 
  --data-background-color-primary: #{$primary};
  --data-background-color-secondary: #{$secondary};
  
}
.icon{
    display: inline-block;
    background-image: #ccc;
    width: 22px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    
}

.icon.surfbot{
        background-image: url("../images/surfbot-icon.svg");
}
.bar{
    height: 30px;
    left: 0px;
    top: 0px;
    background: #1188EE;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}
.header-bar{
    background: #17222D;
    color: #ffffff;
    padding: 5px 0px;
    & img{
        width: 151.8px;
        height: 37.25px;
        left: 45px;
        top: 41px;
    }
    
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 0px;
    margin: 0px;

    li{
        margin: 6px;
        list-style-type: none;
    }

    .ellipse{
        width: 8px;
        height: 8px;
        left: 984px;
        top: 56px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 100%;
    }
}
.info {
    min-height: 1000px;
    display: block;
}
.hero{
    width: 100%;
    height: 400px;
    background-image: url("../../assets/images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & h1.hero-text{
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 82px;
        /* identical to box height */
        color: #FFFFFF;
    }

    & form{
        
        & input{
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            outline: none;
        }
       & input[type="submit"]{
        width: 185px;
        height: 50px;
        left: 1030px;
        top: 380px;
        border: none;
        background: #EE2211;
        border-radius: 0px 5px 5px 0px;
        color: #ffffff;
        line-height: 25px;
        
        &:after{
            content:"";
            position: absolute;
            top: 0px;
            left: 0px;
            background-image:  url("../../assets/images/arrow-right.png");
            width: 150px;
            height: 150px;
            display: block;
            z-index: 99;
        }
       }
       & input[type="email"]{
        width: 270px;
        height: 50px;
        left: 745px;
        top: 380px;
        background: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(23, 34, 45, 0.4);
        border-radius: 5px 0px 0px 5px;
        color: #BBCCDD;
        border: none;
        padding-left: 5px;
        &::placeholder{
            color: #BBCCDD;
        }
       }

      
    }

    & .banner{

        &>div{
            padding-bottom: 5px;
        }
        height: 100%;
        width: 100%;
        & img {

            width: 100%;

        }
    }
}
.more-info{
   padding-top: 2rem;
}
/*steps*/
.steps{

        & li.hero-info{
            height: 300px;
        } 

        & li:last-child{
            margin-top: 20px;
            border-bottom: 0px;
        }
        & li {
            
            height: 100px;
            border-bottom: 2px solid #EFF4F9;
            list-style-type: none;
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 33px;
            /* identical to box height */
            color: #445566;

            & img {
                width: 50.35px;
                height: 52.27px;
                justify-self: flex-start;
            }

            & span:not(.blue){
                margin-left:  20px;
            }
            
            & h2{
                font-family: Alice;
                font-style: normal;
                font-weight: normal;
                font-size: 72px;
                line-height: 74px;
                color: #000;         
            }
            
        }

}

span.blue{
     color: #1188EE;
}
/* localização*/

.localizacao{
 
    position: relative;
}
.mapa{
    
    position: absolute;
    bottom: -15%;
    left: 6%;
}

    
    ul.alternativas{
        position: absolute;
        top: 250px;
        left: -22px;

        & li {
            list-style-type: none;
            position: relative;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 31px;
            color: #17222D;

            & span{
                color: #b8c4d0;
                font-size: 12px;
            }
            
            &:after{
                content: "";
                display: block;
                width: 10px;
                height: 1px;
                font-size: 20px;
                border: .8px solid #1188EE; 
                border-radius: 1px;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: -16px;
            }
           
            
               
        }
}

ul.alternativas li:first-child:after,
.aulas .box li::before {
    content: "";
    width: 8px;
    height: 8px;
    left: 64px;
    top: 1401px;
    border: 2px solid #FF3726;
    box-sizing: border-box;
    border-radius: 100%;
    top: 34%;
    left: -16px;
    position: absolute;
}    

/*aulas*/
.box{
    
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(187, 204, 221, 0.4), 0px 5px 5px rgba(187, 204, 221, 0.4);
    border-radius: 5px;
}

.aulas{
    width: 100%;
    background: #EFF4F9;
    margin-top: 15rem;
    padding-bottom: 2rem;
    text-align: center;

    & .price{
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #1188EE;
    }

    & .enroll{
        background: #445566;
        border-radius: 5px;
        height: 40px;
        width:230px ;
        display: flex;
        justify-content:space-around;
        align-items: center;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 1rem;
    }

    & .aulas-info{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        text-align: center;
        color: hsl(210, 20%, 33%);
        margin-top: 1.5rem;
        line-height: 10px;
        span.surf{
            color:#FF3726;
            font-weight: bold;
        }
    }

    & .box{
        width:350px;
        height: 400px;

        & .box-wrapper{
            text-align: left;
        }
        & i {
            position: absolute;
            top: -16px;
            left: 48%;
        }
        & .box-title{
            color: #445566;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            padding-bottom: 2rem;
            text-align: center;
        }
        & ul{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: start;
            width: 100;
            padding: 1rem;
            border-bottom: 2px solid #EFF4F9;
            border-top: 2px solid #EFF4F9;
        }
        & li {
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 34px;
            color: #445566;
            position: relative;
            list-style-type: none;
        }
    }
}

.hero-aulas{
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 82px;
    /* identical to box height */
    color:#445566;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    &:before{
        content: "";
        position: absolute;
        width: 170px;
        height: 64px;
        top: -115%;
        background-image: url("../../assets/images/ondas.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.say-mensage{
    background: url("../../assets/images/onda.png");
    height: 500px;
    background-size:cover;
    background-position: 0px 0px;
    width: 100%;  
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    & blockquote{

        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 74px;
        text-align: center;
        color: #FFFFFF;
        width: 50%;
    }

}

/* section contato*/
.contato{


    .trace::after {
        content: "";
        position: absolute;
        display: block;
        height: 477px;
        width: 0px;
        border: 2px solid #EFF4F9;;
    }

    .trace{
        margin-top: 50px;
    }

    & .title-section{
        margin-top: 30px;
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 82px;
        /* identical to box height */
        color: #445566;
    }


    /* formmulario de contato*/
    & form{

        
    
        & label{
            text-align: left;
            width: 470px;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            /* identical to box height */
            color: #445566;
            text-transform: capitalize;
        }

        & input[type="submit"]{
            margin: 2rem 0rem;
            border: none;
            border-radius: 5px;
            height: 40px;
            width: 230px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            cursor: pointer;
            margin-top: 1rem;
            background: url("../images/arrow-right.png"),#445566;
            background-position: 95% center;
            background-repeat: no-repeat;
            justify-self: flex-start;
            align-self: flex-start;
            margin-left: 11.5%;
            outline: none;
            text-transform: uppercase;
        }

       & input:not([type="submit"]){
            width: 470px;
            height: 50px;
            height: 50px !important;
            background: #EFF4F9 !important;
            box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4) !important;
            border-radius: 5px !important;
            border: none;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            /* identical to box height */
            color: #1188ee;
            padding-left: 1rem;
            outline: none;
            margin-top: -10px;
            margin-bottom: 15px;

            &::placeholder{
                font-family: Nunito;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                /* identical to box height */
                color: #BBCCDD;
                padding-left: 1rem;
            }

            &:hover,&:focus{
                border: .5px solid #1188ee;
            }
        }

        & textarea{
            width: 470px;
            height: 180px !important;
            background: #EFF4F9 !important;
            box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4) !important;
            border-radius: 5px !important;
            resize: none;
            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            /* identical to box height */
            color: #1188ee;
            padding-left: 1rem;
            border: none;
            outline: none;
            margin-top: -10px;
            margin-bottom: 10px;
            &:hover,&:focus{
                border: .5px solid #1188ee;
            }
        }
    }


    /* mais informações sobre contato*/

    .info-contato{

        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #445566;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        & img.img-fluid{
            width: 30%;
            height: 100%;
            position: absolute;
            order: 2;
            z-index: -1;
            right: 0px;
            top: -41px;
        }
        & > div {
            align-self: center;
           
            div{
                padding: .5em 0rem;
            }
        }
        &__title{ 

            font-family: Nunito;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */
            color: #445566;
            position: relative;
            &.hour::before{
                content:"";
                width: 8px;
                height: 8px;
                left: 64px;
                top: 1401px;
                border: 2px solid #16C70B;
                box-sizing: border-box;
                border-radius: 100%;
                top: 34%;
                left: -16px;
                position: absolute;    
            }
        }
        & .wrapper-info{
            line-height: 5px;
            margin-top: 10px;
            border-bottom: 2px solid #EFF4F9;
            width: 250px;
            a{
                text-decoration: none;
                color: inherit;
            }
            .see_map{
                font-family: Nunito;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;       
                color: #445566;
                text-transform: uppercase;
                cursor: pointer;
               
            }
        }
    }
}

footer{
    background: #1188EE;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
    img{
        filter: brightness(17.5);
        padding-right: 2rem;
    }
    p{
        padding-left: 2rem;
    }
}

@media (min-width: 1200px){

    .container {
        max-width: 1280px;
    }
}
